* {
    margin: 0;
    padding: 0;
}

img {
    border: 0;
    display: block;
}

a {
    /*text-decoration: none;*/
}

ul, ol {
    /*list-style: none;*/
    list-style: inside;
}

.clr {
    clear: both;
}

body, input, button, option, textarea, label, select, legend, h1, h2, h3, h4, h5, h6, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    font: 14px/18px Arial, Helvetica, sans-serif;
    color: #333;
    outline: none;
    font-family: 'Open Sans', sans-serif !important;
}

p {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    text-rendering: geometricPrecision;
}
input[type=text], input[type=tel], textarea {
    -webkit-appearance: none;
}
p, ul{
    font-size: 17px !important;
    line-height: 30px !important;
    text-align: left;
}


.font-bold{
    font-weight: bold;
}
body a:link{
    color: black;
    -webkit-text-fill-color: black;
    font-weight: bold;
    /*text-decoration: none;*/

}

.link-white a:link{
    color: white;
    -webkit-text-fill-color: white;
    font-weight: bold;
}

.link-white h3 {
    color: white;
}

.link-white .line{
    border: 2px solid white;
}


html, body {
  position: relative;
  height: 100%;
}
body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color:#000;
  margin: 0;
  padding: 0;
}
.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.slide-1{
    background: url("../images/header/bg.png");
    height: 100%;
    width: 100%;
}

.wt-s1{
    background-image: url("../images/header/đt1.png");
    width: 22%;
    left: 65%;
    padding-top: 27%;
    bottom:0%;
    z-index: 1;
}

.wt-s2{
    background-image: url("../images/header/đt2.png");
    width: 22%;
    left: 52%;
    padding-top: 27%;
    bottom: 20%;
    z-index: auto;
}

.wt-s3{
    background-image: url("../images/header/đt3.png");
    width: 22%;
    left: 72%;
    padding-top: 27%;
    bottom: 68%;
    z-index: auto;
}


.wt-phone{
    background-repeat: no-repeat;
    background-size: contain;
}

.pa {
    position: absolute;
}

.wt-content {
    top: 50%;
    left: 0;
    transform: translate(0%, -50%);
    width: 43%;
    height: 60%;
    padding-left: 2%;
    text-align: left;
}

.wtc-title{
    color: #000;
    font-size: 5vw;
    margin-bottom: 5%;
    font-family: 'Exo', sans-serif;
    font-weight: bold;
}

.wtc-subtitle{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #000;
    font-size: 2vw;
    text-transform: uppercase;
    line-height: 2.5vw;
    width: 70%;
    margin-bottom: 8%;
    margin-top: 10%;
}

.wtc-sapo {
    color: #000;
    font-size: 1.1vw;
    line-height: 2vw;
    width: 80%;
    margin-bottom: 15%;
}

.wt-author{
    margin-top: 30%;
}

.wta-col {
    display: inline-block;
    width: 30%;
    margin-bottom: 0px;
}

.wtac-br{
    width: 110px;
}

.p-right h3{
    text-align: left;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 50px;
    margin-top: 30%;
}

.page-slide{
    width: 100%;
    height: 100%;
    display: flex;
}
.p-left{
    width: 45%;
}

.p-right{
    width: 55%;
}

.p-left img{
    width: 100%;
}

.content-right{
    margin-left: 10%;
    margin-right: 10%;
}

hr{
    margin-top: 40px;
    margin-bottom: 40px;
}

.line{
    border: 2px solid black;
}

p{
    margin-bottom: 20px;
}

.bg-color{
    background-color:#163442;
}

.bg-color p{
    color: white;
}


.content-s{
    margin-top: 40%;
}

.infoprod {
    width: 100%;
    max-width: 600px;
    height: auto;
    padding: 10px 5px;
    margin: 0 85px;
    display: inline-block;
    border: 1px solid #eee;
}

.infoprod .image, .infoprod-inline .image {
    float: left;
    width: 36%;
}

article a {
    color: #288ad6;
    font-size: 16px;
}

.infoprod .image img, .infoprod-inline .image img {
    width: 150px;
}

article img {
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
    margin: 0 auto;
}

.infoprod .infor, .infoprod-inline .infor {
    text-align: left;
    float: right;
    width: 64%;
}

.infoprod .infor figure, .infoprod-inline .infor figure {
    margin: 0;
    font-size: 14px;
    line-height: 1.5;
    color: #777;
}

article p, article h2, article h3 {
    width: 600px;
    margin: 20px auto;
    font-size: 16px;
    color: #333;
    line-height: 28px;
}

article ul, ol {
    margin: 10px auto;
    width: 600px;
}

article ul li {
    list-style-type: disc;
    margin-left: 15px;
    line-height: 25px;
    font-size: 16px;
}

.infoprod .infor h3, .infoprod-inline .infor h3 {
    margin: 0;
    color: #288ad6;
    font-weight: 600;
    font-size: 16px;
    overflow: hidden;
    max-width: 290px;
    line-height: 1.5;
}

.infoprod a:link{
    color:#288ad6 !important;
    -webkit-text-fill-color: #288ad6;
}

.slide-7{
    background: url("../images/img06/1.png");
    height: 100%;
    width: 100%;
}

.text-s7{
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 400px;
    color: white;
}

.wt-s4{
    background-image: url("../images/img06/3.png");
    left: 52%;
    padding-top: 27%;
    bottom: 20%;
    width: 55%;
    z-index: 2;
}

.wt-s5{
    background-image: url("../images/img06/4.png");
    left: 52%;
    padding-top: 27%;
    bottom: 20%;
    width: 55%;
    z-index: 2;
}

.wt-s6{
    background-image: url("../images/img06/5.png");
    left: 52%;
    padding-top: 27%;
    bottom: 20%;
    width: 55%;
    z-index: 2;
}

.wt-s8{
    background-image: url(../images/img06/2.png);
    padding-top: 27%;
    bottom: 20%;
    width: 55%;
    transform: scale(1.8,1.8);
    position: absolute;
    left: 22.5%;
    z-index: 1;
}

.logo-sam{
    position: absolute;
    left: -1.5%;
    z-index: 1;
}

.wt-s4, .wt-s5, .wt-s6{
    transform: scale(1.5,1.5);
    left: 24%;
}

.img-full{
    height: 100%;
    width: 100%;
}

.slide-l1{
    background-image: url("../images/img01.png");

}

.slide-l2{
    background-image: url("../images/img02.png");
}

.slide-l3{
    background-image: url("../images/img03.png");
}

.slide-l4{
    background-image: url("../images/img04.png");
}

.slide-l5{
    background-image: url("../images/img05.png");
}

.slide-l7{
    background-image: url("../images/img07.png");
}

.slide-l8{
    background-image: url("../images/img08.png");
}

.slide-l9{
  background-image: url("../images/img09.png");
}